{{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.title) }}
        </div>
        <div class="col">
            {{ form_row(form.capacity) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.authorization) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}