{% extends 'base.html.twig' %}
{% block title 'Gérer les salles' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3 text-center">Administration des salles</h1>
    </div>

    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.title }}</td>
                    <td>
                        <a href="{{ path('admin.room.edit', {id: room.id}) }}" class="btn btn-secondary">Éditer</a>
                        <form method="post" action="{{ path('admin.room.delete', {'id': room.id}) }}" style="display: inline-block" onsubmit="return confirm ('Veuillez confimer la suppression')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.room.new') }}" class="btn btn-primary">Créer</a>
        </div>

    </div>
{% endblock %}